@model IEnumerable<Employee>

@{
    ViewData["Title"] = "Employees";
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (Employee employee in @Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(_ => employee.Firstname)
            </td>
            <td>
                @Html.DisplayFor(_ => employee.Lastname)
            </td>
            <td>
                @Html.DisplayFor(_ => employee.Email)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@employee.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@employee.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@employee.Id">Delete</a>
                </td>
        </tr>
    }
    </tbody>
</table>