@model IEnumerable<Employee>

@{
    ViewData["Title"] = "Employees";
}

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (Employee employee in @Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(_ => employee.Firstname)
            </td>
            <td>
                @Html.DisplayFor(_ => employee.Lastname)
            </td>
            <td>
                @Html.DisplayFor(_ => employee.Email)
            </td>
        </tr>
    }
    </tbody>
</table>